:root {
    --color: #fff;
    --site-margin: 40px;
    --container-width: var(--grid-width);
    --container-height: 800px;
    --cover-width: 100vw;
    --cover-height: 100vh;
    --main-top: 0px;
    --browser-bar-height: 0px;
    --sidenav-width: 300px;
    --site-margin: 20px;
}

.clipper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
