:root {
    --color: #fff;
    --site-margin: 40px;
    --container-width: var(--grid-width);
    --container-height: 800px;
    --cover-width: 100vw;
    --cover-height: 100vh;
    --main-top: 0px;
    --browser-bar-height: 0px;
    --sidenav-width: 300px;
    --site-margin: 20px;
}

.clipper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content {
    margin: 0 auto;
    max-width: var(--container-width);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms ease-out;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    padding: 0;
    text-align: center;
    align-items: center;
    height: 100%;
}
