:root {
    --color: #fff;
    --site-margin: 40px;
    --container-width: var(--grid-width);
    --container-height: 800px;
    --cover-width: 100vw;
    --cover-height: 100vh;
    --main-top: 0px;
    --browser-bar-height: 0px;
    --sidenav-width: 300px;
    --site-margin: 20px;
}

html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

html, body {
    padding: 0;
    margin: 0;
    background: #fff;
    color: #0e0e0e;
    width: 100%;
    height: 100%;
}

body{
    color: var(--color, #000);
    min-height: 100%;
    font-family: var(--font-family);
}

body .site.desktop.custon-cursor{
    --main-top: 0px;
    --nav-hright: 104px;
    --footer-height: 67px;
    --container-width: 814px;
}

div {
    display: block;
}

div.page.overlap {
    background: #290b29;
    --background-color: #290b29;
    min-height: 100%;
}

header.standard {
    padding-left: var(--site-margin);
    padding-right: var(--site-margin);
    margin: auto;
}

.navigation header{
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

#navigation_5319896_4809803{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: var(--grid-width);
    margin: auto;
    position:relative;
    z-index: 10;
    --accent-color: #ea0453;
    --link-color: #ffffff;
    transition: color 100ms ease-out 0s;
}

div.page .guts {
    position: relative;
}

.page.overlap > .guts {
    margin-top: calc(var(--nav-height, unset) * -1);
}

.block {
    display: block;
    position: relative;
    box-sizing: border-box;
    color: var(--color);
    font-family: var(--surface-color);
    word-break: break-word;
    padding-top: var(--padding-top, 80px);
    padding-bottom: var(--padding-bottom, 80px);
}

.block.fluid {
    --container-width: 100vw;
}

.block.cover{
    --cover-block-padding: 120px;
    width: 100%;
    height: var(--cover-height, 100vh);
    padding: 0;
    overflow: hidden;
}

.block div {
    box-sizing: border-box;
}

.block .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background {
    opacity: 0.83;
    transform: translate(15.5px);
}

.block > .content {
    margin: 0 auto;
    max-width: var(--container-width);
}

.block > .content {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms ease-out;
}

.block_000000005100d82c0000000000000109 > .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.block.fluid > .content {
    max-width: 100%;
    padding: 0;
}

.block.align-x-center .content {
    text-align: center;
}

.block.align-y-center .content {
    align-items: center;
}

.block.cover > .content {
    height: 100%;
}

.block > .background .clipper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.block > .background video, .block > .background image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

